{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="icon/png" href="{% static 'icons/blue_star.png' %}">

    <title>
      {% block title %}
      Javoh.Bro
      {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://unpkg.com/feather-icons"></script>
  </head>
  <body>
    <header class="site-header">
      <nav class="navbar navbar-expand-lg border-bottom bg-light fixed-top row shadow p-1 mb-3 bg-body-tertiary rounded">
        <div class="container">
          <div class="col-2 row">
            <a href="{% url 'home' %}" class="offset-1 fs-3 fw-bold link-underline link-underline-opacity-0 text-primary"><img src="{% static 'icons/blue_star.png' %}" alt="logo" class="logo"/> Javoh.Bro</a>
          </div>
          <div class="offset-6 collapse navbar-collapse d-flex" id="navbarToggle">
            <div class="navbar-nav offset-9">
              {% if user.is_authenticated %}
                <a href="{% url 'post-create' %}" class="nav-item nav-link text-dark align-top"><i data-feather="plus"></i> Create</a>
                <a href="{% url 'profile-posts' username=user.username %}"><img class="circular-image img mt-1" src="{{ user.profile.image.url }}" /></a>      
              {% else %}
                <a href="{% url 'login' %}" class="nav-item nav-link text-dark">Login</a>
                <a href="{% url 'register' %}" class="nav-item nav-link text-dark">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <div class="row mt-3">
      <div class="col-2 border-end mt-4  bg-gradient shadow p-3 mb-5 bg-body-tertiary rounded" style="height: 100vh; position: fixed; left: 0%;">
        <div class="mt-4 ml-2">
          <div class='offset-1 col-10 row border-bottom'>
            <a href="{% url 'home' %}" class="col-12 btn btn-light text-start {% if request.path == '/' %}active{% endif %}" role="button">
              <i data-feather="home" class="align-top"></i> Home
            </a>
            <a href="{% url 'popular' %}" class="col-12 btn btn-light text-start {% if request.path == '/popular/' %}active{% endif %}" role="button">
              <i data-feather="trending-up" class="align-top"></i> Popular
            </a>
            <a href="" class="col-12 btn btn-light text-start" role="button">
              <i data-feather="bar-chart" class="align-top"></i> All
            </a>
          </div>
          {% comment %} <div data-bs-spy="scroll" data-bs-smooth-scroll="true" class='offset-1 col-10 row border-bottom scrollspy-example bg-body-tertiary p-3 rounded-2' style="height: 10vh" tabindex="0">
            {% for user in profile %}
              <a href="#" class="col-12 btn btn-light text-start" role="button">
                <img class="circular-image img mt-1" src="{{ profile.image.url }}" />
                {{ profile.username }}
              </a>
            {% endfor %} 
          </div> {% endcomment %}
          {% if user.is_authenticated %}
          <div class='offset-1 col-10 row border-bottom'>
            <a href="{% url 'profile-posts' username=user.username %}" class="col-12 btn btn-light text-start {% if request.path == '/profile-posts/' %}active{% endif %}" role="button">
              <i data-feather="user" class="align-top"></i> My Status
            </a>
          
              <a href="{% url 'profile' %}" class="col-12 btn btn-light text-start {% if request.path == '/profile/' %}active{% endif %}" role="button">
                <i data-feather="tool" class="align-top"></i> Settings
              </a>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="col-9 offset-3 mt-5">
        {% if messages %}
          {% for message in messages %}
            <div class="col-8 alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        {% endif %}
        {% block content %}

        {% endblock %}
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>feather.replace();</script>
    <script src="{% static 'js/base.js' %}"></script>

  </body>
</html>
{% comment %}
  error: if img was deleted from basa = use default.jpg;
  error: reset doesn't work;
{% endcomment %}
